<div class="calculator-main-container">
    <input type="text" class="number-view" [value]="number" disabled />
  
    <div class="calculator-buttons">
  
    <button type="button" class="first-row" (click) = "clear()">AC</button>
    <button type="button" class="first-row" (click) = "toggleSign()">+/-</button>
    <button type="button" class="first-row" (click)="calculatePercent()">%</button>
    <button type="button" class="operator" value="/" (click) = "setOperation('/')">&divide;</button>
  
      <button type="button" value="7" (click)="setNumber('7')">7</button>
      <button type="button" value="8" (click)="setNumber('8')">8</button>
      <button type="button" value="9" (click)="setNumber('9')">9</button>
      <button type="button" class="operator" value="*" (click) = "setOperation('*')">&times;</button>
  
  
      <button type="button" value="4" (click)="setNumber('4')">4</button>
      <button type="button" value="5" (click)="setNumber('5')">5</button>
      <button type="button" value="6" (click)="setNumber('6')">6</button>
      <button type="button" class="operator" value="-" (click) = "setOperation('-')">-</button>
  
  
      <button type="button" value="1" (click)="setNumber('1')">1</button>
      <button type="button" value="2" (click)="setNumber('2')">2</button>
      <button type="button" value="3" (click)="setNumber('3')">3</button>
      <button type="button" class="operator" value="+" (click) = "setOperation('+')">+</button>
  
  
      <button type="button" class="zero-button" value="0" (click)="setNumber('0')">0</button>
      <button type="button" value="." (click)="setDecimal()">.</button> 
      <button type="button" value="=" class="operator" (click) = "setOperation('=')">=</button>
  
    </div>
  </div>